@import "utilities/variables";

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}




/*
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
*/
html {
    min-height: 100vh;
    background-color: black;
    height: auto;
}
body {
    margin: 0 0;
    font-family: monospace;
    font-size:4vmin;
    box-sizing: inherit;
    min-height: 100vh;
    width: 100%;
    height: auto;
    position: relative;
    /*
    padding-top: $header-height;
    padding-bottom: $footer-height;
    */
}

header {
    text-align: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    font-family: cursive;
    font-size:5vmin;
    width: 100%;
    height: $header-height;
    z-index: 10;
    /*background: rgb(45, 107, 45);*/
    background-color: $prime-color;
    .logo {
        position: absolute;
        left: 10px;
        top: 0px;
        width: auto;
        height: 100%;
    }
    .nav-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45%;
    }
    a {
          margin-bottom: 0;
          float: right;
          display: block;
          color: rgb(45, 107, 45);
          text-align: center;
          padding: 0px 20px;
          text-decoration: none;

          &:hover {
              background: #ddd;
              color: black;
          }
      }
}

footer {
    z-index: 0;
    bottom: 0;
    position: relative;
    height: 150px;
    width: 100%;
    color: hsl(0, 0%, 70%);
    margin-top: 50px;
    background-color: $prime-color;
    overflow: hidden;
    font-size: 18px;
    img {
        filter:brightness(70%);
    }
    .footer-email {
        position: absolute;
        //height: inherit;
        top: 20px;

        left: 150px;
        //margin-top: 40px;
        bottom: 0;
    }
    .social-media-icons {
        width: 48px;
        height: 48px;

    }
    .tripadvisor-icon {
        width: 72px;
        height: 48px;
        filter:brightness(60%);
    }
    .footer-social-media {
        position: absolute;
        right: 20%;
        margin-left: 60px;
        //margin-top: 40px;
        //height: inherit;
        top: 20px;
        a {
            color: white;
        }
        img {

            &:hover {
                filter:brightness(40%);
            }
        }
    }
}

.info-bar {
    width: 100%;
    height: 20px;
    background: brown;
    font-size: 15px;
}

.banner:before {
    /*
    content: "Experience Peru with Condor Wings Travel!";
    @media screen and (max-width: 1000px){
        content: "Condor Wings Travel";
    }
    */
    font-size: 6vmin;
}

.container-full-page {
    position: relative;
    text-align: left;
    top: $header-height;
    height: auto;
    bottom: auto;
    //margin-bottom: $footer-height;
    height: max-content;
    min-height: 100vh;
    width: 100%;
    clear:both;
    /*
    background-image: url("../images/20190626_120242.jpg");
    background-size: cover;
    */
}

.container {
    width: 100%;
    height: 100%;
    .row {
        margin: 30px;
        margin-left: 110px;
        div {
            width: 100%;
            margin: 10px;
            input {
                width: 100%;
            }
        }
    }
}


.content {
    position: relative;
    width: 68%;
    height: 95%;
    top: 5%;
    left: 16%;
}

#tour-images {
    @extend .content;
    width: 84%;
}


ol {
    list-style: none;
    padding-left: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


#contact {
    text-align: center;
    a {
        font-weight: bold;
        &:hover {
            font-size: 30px;
            font-weight: bold;
            color: red;
        }
    }
}

#bootstrap-overrides-home body{
    background: black;
    font-family: monospace;
    font-size:4vmin;
    box-sizing: inherit;
}

#tour-drop-down {

    background-color: transparent;
    background-image:url("../images/assets/rocks-3989777_1920.png");
    background-repeat: no-repeat;
    background-size: $sidebar-image-width $sidebar-image-height;
    background-position: 50% 50%;
    cursor:pointer;
    width: 150px;
    height: 100px;
    border: none;
    font-size: 4vmin;
}

.block_slider_container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 30px;
}


.block_slider {
    cursor: grab;
    //padding:20px;
    padding-left: 780px;
    padding-right: 780px;

    //margin-bottom: 60px;
    position: absolute;
    width: 3000px;
    left: -500px;
    //transform: translateX(1px);
    height: 200px;
    background-color: $prime-color-tr;
    overflow:hidden;
    .block {
        user-select: none;
        float:left;
        position: relative;
        background-color: $prime-color-gray;
        width:200px;
        margin-top: 20px;
        height: 160px;
        //top: 2.5%;
        margin: 20px;

    }
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.block_container_filter {

    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 5;
    pointer-events: none;
}
#block_left_filter {
    position: absolute;
    left: 0;
}

#block_right_filter {
    position: absolute;
    right: 0;
}


#message-box {
    text-align: left;
    width: 100%;
    height: 200px;
}

#send-button {
    width: 100%;
    background-color: rgb(45, 107, 45);
    border-radius: 12px;
    border: none;
    display: inline-block;
}
