*{
    margin: 0;
    padding: 0;
}
.slides {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
}

.slides_animation {
    animation-duration: 4s;
    animation-play-state: paused;
    /*animation-iteration-count: 1;*/
    animation-fill-mode: forwards;
    /*animation-name: slide_left_out;*/
    animation-timing-function: ease;
}



.slides-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

@keyframes slide_left_out {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes slide_left_in {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}
