html {
	height: 100%;
}
body {
	margin: 0 0;
	font-family: monospace;
	font-size:4vmin;
	box-sizing: inherit;
	height: 100%;
}

.header {
	text-align: center;
	font-family: cursive;
	font-size:5vmin;
	width: 100%;
	height: 16%;
	background: #009933;
}

.info-bar {
	width: 100%;
	height: 20px;
	background: brown;
	font-size: 15px;
}

.banner:before {
	content: "Experience Peru with Condor Wings Travel!";
	font-size: 6vmin;
}

.footer {
	align-self: baseline;
	position: absolute;
	width: 100%;
	margin-bottom:0;
	bottom: 0;
	background: orange;
}

.container {
	position: relative;
	text-align: left;
	height: 100%;
	background-image: url("images/20190626_120242.jpg");
	background-size: cover;
}

.content {
	position: absolute;
	top: 5%;
	left: 16%;
}

.left_sidebar {
	align-content: left;
	width: 13%;
	margin-left: 2%;
	height: 100%;
}

ol {
	list-style: none;
	padding-left: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.left_sidebar a:hover {
	color: red;
	font-size: 5vmin;
}

.tour-image-container {
	margin: 30px;
	position: relative;
	width: 300px;
	height: 200px;

}

.tour-image-container > img {
	width: 100%;
	height: 100%;
}

.tour-image-container:hover > img {
	width: 125%;
	height: 125%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.flex-container {
	display: flex;  
  	flex-wrap: wrap;
}

#contact {
	text-align: center;
}

#contact a {
	font-weight: bold;
}

#contact a:hover {
	font-size: 30px;
	font-weight: bold;
	color: red;
}