@import "variables";

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.popup {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    background-color: $prime-color-greenTR;
    border: 7px outset $prime-color-greenTR;
    border-radius: 7px;
    z-index: 1;
    color: $prime-color-orange;
    input[type="text"], input[type="password"]  {
        background-color: $prime-color-gray;
        border: 2px inset $prime-color-orange;
    }
    button, input[type="submit"] {
        font-size: 18px;
        background-image: $button-color;
        border: none;
        border-radius: 5px;
        padding: 3px;
    }
}


.content {
    position: relative;
    width: 68%;
    height: 95%;
    top: 5%;
    left: 16%;
    @media screen and (max-width: $break-small ){
        width: 100%;
        margin: 0;
        left:0;
        top: 2%;
    }
}
