$sidebar-row-height: 100px;
$sidebar-image-height:150px;
$sidebar-image-width:200px;
$header-height:120px;
$footer-height:150px;
$border-radius:30px;
$prime-color: rgb(21,58,88);
$prime-color-tr: rgba(21,58,88, 0.5);
$prime-color-gray: rgb(80,80,80);
$prime-color-grayTR: rgba(80,80,80, 0.5);
$prime-color-orange: rgb(230, 138, 0);
$prime-color-green:	rgb(0, 77, 0);
$prime-color-greenTR:	rgba(0, 77, 0, 0.5);
