@import "import";
$sidebar-row-height: 100px;
$sidebar-image-height:150px;
$sidebar-image-width:200px;
$header-height:120px;
$footer-height:150px;
$border-radius:30px;
$prime-color: rgb(21,58,88);
$prime-color-TR: rgba($prime-color, 0.5);//rgba(21,58,88, 0.5);
$prime-color-gray: rgb(80,80,80);
$prime-color-grayTR: rgba($prime-color-gray, 0.5);//rgba(80,80,80, 0.5);
$prime-color-orange: rgb(230, 138, 0);
$prime-color-green:	rgb(0, 77, 0);
$prime-color-greenTR:	rgba($prime-color-green, 0.5);//rgba(0, 77, 0, 0.5);
$button-color: linear-gradient(50deg, $prime-color, scale-color($prime-color, $lightness: 20%), $prime-color-gray);
$button-color2:linear-gradient(50deg, $prime-color-orange, scale-color($prime-color-orange, $lightness: 20%), $prime-color-orange);
$break-small: 620px;
$break-large: 920px;
$icon-size: 48px;
