/* line 3, ../project0/sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../project0/sass/styles.scss */
::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* line 13, ../project0/sass/styles.scss */
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

/*
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
*/
/* line 25, ../project0/sass/styles.scss */
html {
  min-height: 100vh;
  background-color: black;
  height: auto;
}

/* line 30, ../project0/sass/styles.scss */
body {
  margin: 0 0;
  font-family: monospace;
  font-size: 4vmin;
  box-sizing: inherit;
  min-height: 100vh;
  width: 100%;
  height: auto;
  position: relative;
  /*
    padding-top: $header-height;
    padding-bottom: $footer-height;
    */
}

/* line 45, ../project0/sass/styles.scss */
header {
  text-align: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  font-family: cursive;
  font-size: 5vmin;
  width: 100%;
  height: 120px;
  z-index: 10;
  /*background: rgb(45, 107, 45);*/
  background-color: #153a58;
}

/* line 57, ../project0/sass/styles.scss */
header .logo {
  position: absolute;
  left: 10px;
  top: 0px;
  width: auto;
  height: 100%;
}

/* line 64, ../project0/sass/styles.scss */
header .nav-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
}

/* line 70, ../project0/sass/styles.scss */
header a {
  margin-bottom: 0;
  float: right;
  display: block;
  color: #2d6b2d;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}

/* line 79, ../project0/sass/styles.scss */
header a:hover {
  background: #ddd;
  color: black;
}

/* line 86, ../project0/sass/styles.scss */
footer {
  z-index: 0;
  bottom: 0;
  position: relative;
  height: 150px;
  width: 100%;
  color: #b3b3b3;
  margin-top: 50px;
  background-color: #153a58;
  overflow: hidden;
  font-size: 18px;
}

/* line 97, ../project0/sass/styles.scss */
footer img {
  filter: brightness(70%);
}

/* line 100, ../project0/sass/styles.scss */
footer .footer-email {
  position: absolute;
  top: 20px;
  left: 150px;
  bottom: 0;
}

/* line 109, ../project0/sass/styles.scss */
footer .social-media-icons {
  width: 48px;
  height: 48px;
}

/* line 114, ../project0/sass/styles.scss */
footer .tripadvisor-icon {
  width: 72px;
  height: 48px;
  filter: brightness(60%);
}

/* line 119, ../project0/sass/styles.scss */
footer .footer-social-media {
  position: absolute;
  right: 20%;
  margin-left: 60px;
  top: 20px;
}

/* line 126, ../project0/sass/styles.scss */
footer .footer-social-media a {
  color: white;
}

/* line 131, ../project0/sass/styles.scss */
footer .footer-social-media img:hover {
  filter: brightness(40%);
}

/* line 138, ../project0/sass/styles.scss */
.info-bar {
  width: 100%;
  height: 20px;
  background: brown;
  font-size: 15px;
}

/* line 145, ../project0/sass/styles.scss */
.banner:before {
  /*
    content: "Experience Peru with Condor Wings Travel!";
    @media screen and (max-width: 1000px){
        content: "Condor Wings Travel";
    }
    */
  font-size: 6vmin;
}

/* line 155, ../project0/sass/styles.scss */
.container-full-page {
  position: relative;
  text-align: left;
  top: 120px;
  height: auto;
  bottom: auto;
  height: max-content;
  min-height: 100vh;
  width: 100%;
  clear: both;
  /*
    background-image: url("../images/20190626_120242.jpg");
    background-size: cover;
    */
}

/* line 172, ../project0/sass/styles.scss */
.container {
  width: 100%;
  height: 100%;
}

/* line 175, ../project0/sass/styles.scss */
.container .row {
  margin: 30px;
  margin-left: 110px;
}

/* line 178, ../project0/sass/styles.scss */
.container .row div {
  width: 100%;
  margin: 10px;
}

/* line 181, ../project0/sass/styles.scss */
.container .row div input {
  width: 100%;
}

/* line 189, ../project0/sass/styles.scss */
.content, #tour-images {
  position: relative;
  width: 68%;
  height: 95%;
  top: 5%;
  left: 16%;
}

/* line 197, ../project0/sass/styles.scss */
#tour-images {
  width: 84%;
}

/* line 203, ../project0/sass/styles.scss */
ol {
  list-style: none;
  padding-left: 0;
}

/* line 208, ../project0/sass/styles.scss */
ul {
  list-style: none;
}

/* line 212, ../project0/sass/styles.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 218, ../project0/sass/styles.scss */
#contact {
  text-align: center;
}

/* line 220, ../project0/sass/styles.scss */
#contact a {
  font-weight: bold;
}

/* line 222, ../project0/sass/styles.scss */
#contact a:hover {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

/* line 230, ../project0/sass/styles.scss */
#bootstrap-overrides-home body {
  background: black;
  font-family: monospace;
  font-size: 4vmin;
  box-sizing: inherit;
}

/* line 237, ../project0/sass/styles.scss */
#tour-drop-down {
  background-color: transparent;
  background-image: url("../images/assets/rocks-3989777_1920.png");
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 50% 50%;
  cursor: pointer;
  width: 150px;
  height: 100px;
  border: none;
  font-size: 4vmin;
}

/* line 251, ../project0/sass/styles.scss */
.block_slider_container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 30px;
}

/* line 259, ../project0/sass/styles.scss */
.block_slider {
  cursor: grab;
  padding-left: 780px;
  padding-right: 780px;
  position: absolute;
  width: 3000px;
  left: -500px;
  height: 200px;
  background-color: rgba(21, 58, 88, 0.5);
  overflow: hidden;
}

/* line 273, ../project0/sass/styles.scss */
.block_slider .block {
  user-select: none;
  float: left;
  position: relative;
  background-color: #505050;
  width: 200px;
  margin-top: 20px;
  height: 160px;
  margin: 20px;
}

/* line 287, ../project0/sass/styles.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 295, ../project0/sass/styles.scss */
.block_container_filter {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 5;
  pointer-events: none;
}

/* line 303, ../project0/sass/styles.scss */
#block_left_filter {
  position: absolute;
  left: 0;
}

/* line 308, ../project0/sass/styles.scss */
#block_right_filter {
  position: absolute;
  right: 0;
}

/* line 314, ../project0/sass/styles.scss */
#message-box {
  text-align: left;
  width: 100%;
  height: 200px;
}

/* line 320, ../project0/sass/styles.scss */
#send-button {
  width: 100%;
  background-color: #2d6b2d;
  border-radius: 12px;
  border: none;
  display: inline-block;
}

/*# sourceMappingURL=styles.css.map */