@use "sass:color";
/* line 3, ../project0/sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../project0/sass/styles.scss */
::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* line 13, ../project0/sass/styles.scss */
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

/*
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
*/
/* line 25, ../project0/sass/styles.scss */
html {
  min-height: 100vh;
  background-color: black;
  height: auto;
}

/* line 30, ../project0/sass/styles.scss */
body {
  margin: 0 0;
  font-family: monospace;
  font-size: 4vmin;
  box-sizing: inherit;
  min-height: 100vh;
  width: 100%;
  height: auto;
  position: relative;
  /*
    padding-top: $header-height;
    padding-bottom: $footer-height;
    */
}

/* line 45, ../project0/sass/styles.scss */
header {
  text-align: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  font-family: cursive;
  font-size: 5vmin;
  width: 100%;
  height: 120px;
  z-index: 10;
  /*background: rgb(45, 107, 45);*/
  background-image: linear-gradient(80deg, rgba(21, 58, 88, 0.5), rgba(44, 122, 185, 0.5));
}

/* line 61, ../project0/sass/styles.scss */
header .logo {
  position: absolute;
  left: 10px;
  top: 0px;
  width: auto;
  height: 100%;
}

/* line 68, ../project0/sass/styles.scss */
header .nav-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
}

/* line 74, ../project0/sass/styles.scss */
header a {
  margin-bottom: 0;
  float: right;
  display: block;
  color: #2d6b2d;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}

@media screen and (min-width: 621px) and (max-width: 920px) {
  /* line 74, ../project0/sass/styles.scss */
  header a {
    padding: 0px 10px;
  }
}

/* line 86, ../project0/sass/styles.scss */
header a:hover {
  background: #ddd;
  color: black;
}

@media screen and (min-width: 621px) and (max-width: 920px) {
  /* line 45, ../project0/sass/styles.scss */
  header {
    height: 15vmin;
  }
}

@media screen and (max-width: 620px) {
  /* line 45, ../project0/sass/styles.scss */
  header {
    height: 10vw;
    font-size: 8vw;
  }
  /* line 97, ../project0/sass/styles.scss */
  header .logo {
    height: 10vw;
    position: relative;
  }
  /* line 102, ../project0/sass/styles.scss */
  header .nav-bar {
    position: relative;
    height: 100%;
  }
  /* line 106, ../project0/sass/styles.scss */
  header a {
    position: relative;
    bottom: 0;
    height: 10vw;
    padding: 0 7px;
  }
  /* line 112, ../project0/sass/styles.scss */
  header #home_link {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  /* line 45, ../project0/sass/styles.scss */
  header {
    height: auto;
  }
}

/* line 122, ../project0/sass/styles.scss */
footer {
  z-index: 0;
  bottom: 0;
  position: relative;
  height: 150px;
  width: 100%;
  color: #b3b3b3;
  margin-top: 50px;
  background-color: #153a58;
  overflow: hidden;
  font-size: 18px;
}

/* line 134, ../project0/sass/styles.scss */
footer img {
  filter: brightness(70%);
}

/* line 137, ../project0/sass/styles.scss */
footer .footer-email {
  position: absolute;
  top: 20px;
  left: 150px;
  bottom: 0;
}

@media screen and (max-width: 920px) {
  /* line 137, ../project0/sass/styles.scss */
  footer .footer-email {
    left: 5%;
  }
}

/* line 149, ../project0/sass/styles.scss */
footer .social-media-icons {
  width: 48px;
  height: 48px;
}

/* line 153, ../project0/sass/styles.scss */
footer .tripadvisor-icon {
  width: 72px;
  height: 48px;
  filter: brightness(60%);
}

/* line 158, ../project0/sass/styles.scss */
footer .footer-social-media {
  position: absolute;
  right: 20%;
  margin-left: 60px;
  top: 20px;
}

@media screen and (max-width: 920px) {
  /* line 158, ../project0/sass/styles.scss */
  footer .footer-social-media {
    right: 5%;
  }
}

/* line 168, ../project0/sass/styles.scss */
footer .footer-social-media a {
  color: white;
}

/* line 173, ../project0/sass/styles.scss */
footer .footer-social-media img:hover {
  filter: brightness(40%);
}

@media screen and (max-width: 620px) {
  /* line 122, ../project0/sass/styles.scss */
  footer {
    font-size: 13px;
    text-align: center;
  }
  /* line 182, ../project0/sass/styles.scss */
  footer .social-media-icons {
    width: 24px;
    height: 24px;
  }
  /* line 186, ../project0/sass/styles.scss */
  footer .tripadvisor-icon {
    width: 36px;
    height: 24px;
  }
  /* line 190, ../project0/sass/styles.scss */
  footer .footer-email, footer .footer-social-media {
    position: relative;
  }
}

/* line 196, ../project0/sass/styles.scss */
button {
  padding: 3px;
  border: none;
}

/* line 199, ../project0/sass/styles.scss */
button:focus {
  outline: 0;
}

/* line 204, ../project0/sass/styles.scss */
table {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* line 211, ../project0/sass/styles.scss */
.info-bar {
  width: 100%;
  height: 20px;
  background: brown;
  font-size: 15px;
}

/* line 218, ../project0/sass/styles.scss */
.banner:before {
  /*
    content: "Experience Peru with Condor Wings Travel!";
    @media screen and (max-width: 1000px){
        content: "Condor Wings Travel";
    }
    */
  font-size: 6vmin;
}

/* line 228, ../project0/sass/styles.scss */
.container-full-page {
  position: relative;
  text-align: left;
  top: 120px;
  height: auto;
  bottom: auto;
  height: max-content;
  min-height: 100vh;
  width: 100%;
  clear: both;
  /*
    background-image: url("../images/20190626_120242.jpg");
    background-size: cover;
    */
}

@media screen and (max-width: 620px) {
  /* line 228, ../project0/sass/styles.scss */
  .container-full-page {
    top: 15vw;
  }
}

/* line 248, ../project0/sass/styles.scss */
.container {
  width: 100%;
  height: 100%;
}

/* line 251, ../project0/sass/styles.scss */
.container .row {
  margin: 30px;
  margin-left: 110px;
}

/* line 254, ../project0/sass/styles.scss */
.container .row div {
  width: 100%;
  margin: 10px;
}

/* line 257, ../project0/sass/styles.scss */
.container .row div input {
  width: 100%;
}

/* line 270, ../project0/sass/styles.scss */
ol {
  list-style: none;
  padding-left: 0;
}

/* line 275, ../project0/sass/styles.scss */
ul {
  list-style: none;
}

/* line 279, ../project0/sass/styles.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 285, ../project0/sass/styles.scss */
#contact {
  text-align: center;
}

/* line 287, ../project0/sass/styles.scss */
#contact a {
  font-weight: bold;
}

/* line 289, ../project0/sass/styles.scss */
#contact a:hover {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

/* line 297, ../project0/sass/styles.scss */
#bootstrap-overrides-home body {
  background: black;
  font-family: monospace;
  font-size: 4vmin;
  box-sizing: inherit;
}

/* line 304, ../project0/sass/styles.scss */
#tour-drop-down {
  background-color: transparent;
  background-image: url("../images/assets/rocks-3989777_1920.png");
  background-repeat: no-repeat;
  background-size: 200px 150px;
  background-position: 50% 50%;
  cursor: pointer;
  width: 150px;
  height: 100px;
  border: none;
  font-size: 4vmin;
}

/* line 318, ../project0/sass/styles.scss */
iframe {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 3;
}

/* line 325, ../project0/sass/styles.scss */
#edit_tool_bar {
  display: none;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0px;
  padding-top: 10px;
  background-image: linear-gradient(80deg, #804000, #e68a00, #ffa51f);
  padding-left: 10px;
}

/* line 335, ../project0/sass/styles.scss */
#edit_tool_bar button {
  border: none;
  background-color: transparent;
  transition: all 0.3s linear 0s;
  border-radius: 2px;
  font-size: 25px;
  text-align: center;
}

/* line 344, ../project0/sass/styles.scss */
#edit_tool_bar button:hover {
  background-color: #603000;
}

/* line 349, ../project0/sass/styles.scss */
#edit_tool_bar input[type="color"] {
  background: transparent;
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
}

/* line 357, ../project0/sass/styles.scss */
#edit_tool_bar img {
  width: 32px;
  height: 32px;
}

/* line 364, ../project0/sass/styles.scss */
.block_slider_container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 30px;
}

/* line 372, ../project0/sass/styles.scss */
.block_slider {
  cursor: grab;
  padding-left: 780px;
  padding-right: 780px;
  position: absolute;
  width: 3000px;
  left: -500px;
  height: 200px;
  background-color: rgba(21, 58, 88, 0.5);
  overflow: hidden;
}

/* line 386, ../project0/sass/styles.scss */
.block_slider .block {
  user-select: none;
  float: left;
  position: relative;
  background-color: #505050;
  width: 200px;
  margin-top: 20px;
  height: 160px;
  margin: 20px;
}

/* line 400, ../project0/sass/styles.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 408, ../project0/sass/styles.scss */
.block_container_filter {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 5;
  pointer-events: none;
}

/* line 416, ../project0/sass/styles.scss */
#block_left_filter {
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (min-width: 621px) and (max-width: 920px) {
  /* line 416, ../project0/sass/styles.scss */
  #block_left_filter {
    width: 30%;
    height: 100%;
  }
}

/* line 426, ../project0/sass/styles.scss */
#block_right_filter {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 621px) and (max-width: 920px) {
  /* line 426, ../project0/sass/styles.scss */
  #block_right_filter {
    width: 30%;
    height: 100%;
  }
}

/* line 437, ../project0/sass/styles.scss */
#message-box {
  text-align: left;
  width: 100%;
  height: 200px;
}

/* line 443, ../project0/sass/styles.scss */
#send-button {
  width: 100%;
  background-color: #2d6b2d;
  border-radius: 12px;
  border: none;
  display: inline-block;
}

/*# sourceMappingURL=styles.css.map */