{% extends "layout.html" %}

{% block header %}
    <script src="{{ url_for('static', filename='javascript/slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>

{% endblock %}

{% block content %}
{% include "slideshow.html" %}

<div class="block_slider_container">
    <div class="block_slider">
        {% for block in blocks %}
            <div class="block">
                {{block['content']}}
            </div>
        {% endfor %}
    </div>
    <div class="block_container_filter">
        <img id="block_left_filter" src="{{ url_for('static', filename='images/assets/imageCreated2.png') }}" alt=":(">
        <img id="block_right_filter" src="{{ url_for('static', filename='images/assets/imageCreated.png') }}" alt=":(">
    </div>
</div>

{% endblock %}
