<!DOCTYPE html>
<html>
<head>
	<title>Condor Wings Travel</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_slideshow.css') }}">
	<script src="{{ url_for('static', filename='javascript/layout.js') }}"></script>
	<script src="{{ url_for('static', filename='javascript/utilities/variables.js') }}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/assets/icons/Condor_Wings/green_wing_icon_kdC_icon.ico') }}" />
	{% block header %}{% endblock %}

</head>
<body>
	<header class="header">
		<a href="/"><img class="logo" src="{{ url_for('static', filename='images/assets/CondorWingsIcon/CondorWings/bannerTR0.png') }}"></a>

		<div class="nav-bar">
			<a href={{ url_for('about') }}>About</a>
			<a href={{ url_for('tours') }}>Tours</a>
			<a href={{ url_for('index') }} id="home_link">Home</a>
		</div>

    </header>
	<div class="container-full-page clearfix">
    	{% block content %}{% endblock %}
		<div style="clear:both;"></div>
    </div>
	<footer>

		<div class="footer-email">
			<table>
                <tr>
                    <td colspan="2">Contact Us</td>
                    <td></td>
                </tr>
                <tr>
                    <td><img id="footer-email-icon" class="social-media-icons" src="{{ url_for('static', filename='images/assets/icons/email.png') }}">
					</td>
                    <td>condorwingstravel@hotmail.com</td>
                </tr>
                <tr>
                    <td><img id="footer-phone-icon" class="social-media-icons" src="{{ url_for('static', filename='images/assets/icons/phone.png') }}">
					</td>
                    <td style="text-align:left">+51 984-397-305</td>
                </tr>
            </table>
			<!--
			<p>Contact Us</p>
			<p>
				<img id="footer-email-icon" class="social-media-icons" src="{{ url_for('static', filename='images/assets/icons/email.png') }}">
				condorwingstravel@hotmail.com
			</p>
			<p>
				<img id="footer-phone-icon" class="social-media-icons" src="{{ url_for('static', filename='images/assets/icons/phone.png') }}">
				+51 984-397-305
			</p>
			-->
		</div>
		<div class="footer-social-media">
			<p>Find us on social media</p>
			<a href="https://www.facebook.com/condorwingstravelperu/?modal=admin_todo_tour" title="Facebook"><img class="social-media-icons" src="{{ url_for('static', filename='images/assets/icons/facebook_logo.png') }}"></a>
			<a href="https://www.tripadvisor.com.pe/Profile/condorwingstravel?fid=1af05395-a849-431e-9050-42e1eed6c7d5" title="tripadvisor"><img class="tripadvisor-icon" src="{{ url_for('static', filename='images/assets/icons/tripadvisor_logo.png') }}"></a>
			<a href="https://www.instagram.com/condorwingstravel/" title="instagram"><img class="social-media-icons" src="{{ url_for('static', filename='images/assets/icons/instagram_logo.png') }}"></a>
		</div>
	</footer>
	<div id="edit_tool_bar" name="edit_tool_bar">
		<button type="button" name="bold" id="bold"><b>B</b></button>
		<button type="button" name="italic" id="italic"><i>I</i></button>
		<button type="button" name="underline" id="underline">_</button>
		<button type="button" name="orderList" id="orderList">(i)</button>
		<button type="button" name="unorderList" id="unorderList">&#8226</button>
		<input type="color" name="text_color" id="text_color">
		<input type="color" name="background_color" id="background_color">
		<select name="font_size" id="font_size" value="5">
			<script type="text/javascript">
				for(var i = 1; i < 15; i++){
					document.write("<option value='"+ i +"'>"+i+"</option>")
				}
			</script>
		</select>
		<select name="font_family" id="font_family">
			<option value="Times New Roman">Times New Roman</option>
			<option value="Tahoma">Tahoma</option>
		</select>
		<img src="{{ url_for('static', filename='images/assets/toolbar/link.png') }}" name="LinkButton" id="LinkButton">
		<img src="{{ url_for('static', filename='images/assets/toolbar/unlink.png') }}" name="unLinkButton" id="unLinkButton">
		<img src="{{ url_for('static', filename='images/assets/toolbar/undo.png') }}" name="Undo" id="Undo">
		<img src="{{ url_for('static', filename='images/assets/toolbar/redo.png') }}" name="Redo" id="Redo">
		<img src="{{ url_for('static', filename='images/assets/toolbar/save.png') }}" name="SaveAs" id="SaveAs">
		<img src="{{ url_for('static', filename='images/assets/toolbar/upload (2).png') }}" name="load" id="load">
		<!--
		<button type="button" name="LinkButton" id="LinkButton" class="wide_button">Link</button>
		<button type="button" name="unLinkButton" id="unLinkButton" class="wide_button">Unlink</button>

		<button type="button" name="Undo" id="Undo">U</button>
		<button type="button" name="Redo" id="Redo">R</button>
		<button type="button" name="SaveAs" id="SaveAs">Save As</button>
		<button type="button" name="load" id="load">Load</button>
		-->
	<div>
</body>
</html>

{% if page_top_slideshow %}
	<script type="text/javascript">
		//console.log(document.getElementsByClassName("container-full-page"))
		document.getElementsByClassName("container-full-page")[0].style.top = 0;
	</script>
{% endif %}
