<!DOCTYPE html>
<html>
<head>
	<title>Condor Wings Travel</title>
	<link rel="stylesheet" href="static/css/styles.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="shortcut icon" href="static/images/assets/icons/Condor_Wings/green_wing_icon_kdC_icon.ico" />
</head>
<body>
	<header class="header">
		<a href="/"><img class="logo" src="static/images/assets/CondorWingsIcon/CondorWings/banner0.png"></a>

		<div class="nav-bar">
			<a href="Contact.html">Contact</a>
			<a href="tours">Tours</a>
			<a href="/">Home</a>

		</div>
    </header>
	<div class="container-full-page">
    	{% block content %}{% endblock %}
    </div>
	<footer>
		<img id="footer-email-icon" class="social-media-icons" src="static/images/assets/icons/email.png">
		<div class="footer-email">
			condorwingstravel@hotmail.com
		</div>
		<div class="footer-social-media">
			<a href="https://www.facebook.com/condorwingstravelperu/?modal=admin_todo_tour" title="Facebook"><img class="social-media-icons" src="static/images/assets/icons/fb-logo.png"></a>
			<a href="https://www.tripadvisor.com.pe/Profile/condorwingstravel?fid=1af05395-a849-431e-9050-42e1eed6c7d5" title="tripadvisor"><img class="tripadvisor-icon" src="static/images/assets/icons/tripadvisor-white.png"></a>
			<a href="https://www.instagram.com/condorwingstravel/" title="instagram"><img class="social-media-icons" src="static/images/assets/icons/instagram-logo-white.png"></a>
		</div>
	</footer>
</body>
</html>
