{% extends "layout.html" %}

{% block header %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='javascript/slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/tour_details.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tour_details.css') }}">

{% endblock %}

{% block content %}

{% include "slideshow.html" %}

<div class="tour-discription">
    <h3 class="tour-title">{{ tour_name }}</h3>
    <p><span class="price" data-price=70></span><span class="currency_symbol">PEN</span></p>
</div>

<div class="currency_form_popup center">
    <div class="ui-widget">
        <input id="input" class="currency_form_input center" placeholder="Currency" autofocus type="text">
    </div>
    <div id="currency_drop_down">

    </div>
</div>

{% block booktour %}
<div class="book-tour">
    <p><span class="price" data-price=50></span><span class="currency_symbol">PEN</span></p>
    <img id="currency_exchange" src="{{ url_for('static', filename='images/assets/currency_exchange.png') }}" alt=":(">
</div>

{% endblock %}


<script>

    async function set_body_height(){
        var all_not_footer_elements = document.querySelector(".container-full-page").querySelectorAll("*")
        var max_height = 0
        for(var i = 0; i < all_not_footer_elements.length;i++){
            //console.log(all_not_footer_elements[i])
            var h = await all_not_footer_elements[i].getBoundingClientRect().bottom + window.scrollY;
            //console.log(h)
            if(h > max_height){
                max_height = h
            }
        }
        //console.log(max_height)
        max_height = (Math.floor(max_height) + footer_height + footer_margin).toString()+"px"
        document.querySelector('html').style.height = max_height
        const body = await document.querySelector('body')
        body.style.height = max_height
        document.querySelector('footer').style.position = "absolute"
    }
</script>

{% endblock %}
