{% extends "layout.html" %}

{% block content %}

<div class="content" id="tour-images">
    <div class="flex-container">
        <div class="tour-image-container">
            <img src="static/images/Moray.jpg">
            <div class="center">Moray</div>
        </div>
        <div class="tour-image-container">
            <img src="static/images/Salineras3.jpg">
            <div class="center">Salineras</div>
        </div>
        <div class="tour-image-container">
            <img src="static/images/DSC_0111.jpg">
            <div class="center">Pumamarca</div>
        </div>
        <div class="tour-image-container">
            <img src="static/images/20191125_063805.jpg">
            <div class="center">  Sacred Valley</div>
        </div>
    </div>
</div>

{% endblock %}
